<p class="h4">Detalles del mueble seleccionado: {{ furniture.name }} </p>

<div>
  <ul class="list-unstyled d-flex  p-4 ">
    <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation"
        focusable="false" style="display: block; height: 14px; width: 14px; fill: currentcolor;">
        <path fill-rule="evenodd"
          d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z">
        </path>
      </svg></li>

    <li> <button type="button" class="btn btn-link text-dark dir dir-ltr">Puntaje 82 </button>
    </li>


    <li><button type="button" class="btn btn-link text-dark dir dir-ltr">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation"
          focusable="false"
          style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 1; overflow: visible;">
          <g fill="none">
            <path d="M27 18v9a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-9M16 3v23V3zM6 13l9.3-9.3a1 1 0 0 1 1.4 0L26 13"></path>
          </g>
        </svg>
      </button></li>
    <li><button type="button" class="btn btn-link text-dark dir dir-ltr">Compartir</button></li>

    <li><button type="button" class="btn btn-link text-dark dir dir-ltr">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation"
          focusable="false"
          style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 2; overflow: visible;">
          <path
            d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17z">
          </path>
        </svg></button></li>
    <li><button type="button" class="btn btn-link text-dark dir dir-ltr">Guardar</button></li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-3">
        <img [src]="fotos[0]" class="img-fluid" alt="Foto Grande">
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6" *ngFor="let fotoUrl of fotos.slice(1, 5)">
          <div class="card">
            <img [src]="fotoUrl" class="img-fluid" alt="Foto Pequeña">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="h4">Descripción: {{ furniture.description }} </p>
    <p class="h4">Stock: {{ furniture.stock }} </p>
    <p class="h4">Precio: $ {{ furniture.price }} </p>
  </div>

  <div *ngIf="available">
    <!-- Mensaje de mueble disponible si available es true -->
    <h1>Mueble/Servicio Disponible</h1>
  </div>
  <div *ngIf="!available">
    <!-- Mensaje de mueble no disponible  si available es false -->
    <h1>Mueble/Servicio No Disponible</h1>
    
  </div>

  <app-rental-calculator>
    [units]="furniture?.id"
    [unitPrice]="furniture?.price"
  </app-rental-calculator>
  
