<main class="row">
  <form [formGroup]="registerForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="username" class="form-label">Nombre</label>
      <input
        type="username"
        name="username"
        class="form-control"
        formControlName="firstName"
      />
    </div>
    <div class="form-group">
      <label for="username" class="form-label">Apellido</label>
      <input
        type="username"
        name="username"
        class="form-control"
        formControlName="lastName"
      />
    </div>
    <div class="form-group">
      <label for="username" class="form-label">Username</label>
      <input
        type="username"
        name="username"
        class="form-control"
        formControlName="username"
      />
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <div class="form-group">
      <label for="c_password">Confirm Password</label>
      <input
        type="password"
        name="c_password"
        class="form-control"
        formControlName="confirmPassword"
      />
    </div>
    <div class="d-grid gap-3 mt-3">
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>
    </div>
    <div class="my-3">
      <span>Ya tenes cuenta? <a href="#">Login </a></span> <br />
      <span><a href="#">Recuperar Password</a></span>
    </div>
  </form>
</main>
