
<div class="container-fluid">
    <h1>sign-in works!</h1>

</div>

<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <form>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="d-grid gap-3 mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="my-3">
                <span>No tenes cuenta? <a href="#">Registrate! </a></span> <br>
    
                <span><a href="#">Recuperar Password</a></span>
            </div>
    
        </form>
        </div>
</div>