<a routerLink="/furniture/details-furniture/{{furni.id}}" target= "_blank">

 <div id="{{furni.id}}" class="carousel slide ml-1" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/living1.jpg" class="d-block w-100 rounded-4" alt="foto 1">
    </div>
    <div class="carousel-item">
      <img src="../assets/living2.jpg" class="d-block w-100 rounded-4" alt="foto2">
    </div>
    <div class="carousel-item">
      <img src="../assets/living3.jpg" class="d-block w-100 rounded-4" alt="foto3">
    </div>
  </div>
  <a class="carousel-control-prev" type="button" href="#{{furni.id}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" type="button" href="#{{furni.id}}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
  <div class="m-2 p-2 mb-3">
    <p class="fs-9 lh-1 mb-0 small">{{furni.name}}</p>
    <p class="fs-9 lh-1 mb-0 small">Precio: {{furni.price}}</p>
  </div>
</div>

