 <!-- <p>footer works!</p> -->

    <footer class="fixed-bottom  container-fluid bg-light mb-4" >
    
             <div><span class="cwdsfi8 dir dir-ltr" dir="ltr">&copy; 2023 XRocket Sitio Web.</span>
             <span class="lv0dgul dir dir-ltr">           
              <a href=" " class="dir dir-ltr ms-4">Privacidad</a>
              <a href=" " class=" dir dir-ltr ms-4">Terminos</a>
              <a href=" " class="dir dir-ltr ms-4">Mapa del Sitio</a>
              <a href=" " class=" dir dir-ltr ms-4" style ="float:right">Español (AR)</a>
              <a href=" " class=" dir dir-ltr ms-4" style ="float:right">Ayuda y Recursos</a>
              
            </span>                    
        </div>       
       
      </footer> 





      
        
      

  


