<!-- <p>footer works!</p> -->

<footer class="container-fluid bg-light p-4">
  <div class="container">
    <ul class="list-unstyled d-flex justify-content-between">
      <li>&copy; 2023 XRocket Sitio Web.</li>
      <li><a href="#" class="text-dark dir dir-ltr ms-4">Privacidad</a></li>
      <li><a href=" " class="text-dark dir dir-ltr ms-4">Terminos</a></li>
      <li><a href=" " class="text-dark dir dir-ltr ms-4">Mapa del Sitio</a></li>
      <li><a href="" class="text-dark dir dir-ltr ms-4">Español (AR)</a></li>
    </ul>
  </div>
</footer>
