@media (width < 800px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
  }
}
@media (width < 515px) {
  ul {
    grid-template-columns: 1fr;
  }
}
@media (width > 800px) {
  ul {
    display: flex;
    justify-content: space-between;
  }
}
