.rental-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 300px;
  }
  
  .card-header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .total-price {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
  }
  