<div class="rental-calculator">
    <div class="card">
      <div class="card-header">
        Detalles del Alquiler
      </div>
      <div>
        <mat-form-field>
          <mat-label>Seleccionar una fecha de incio</mat-label>
          <input matInput [matDatepicker]="pickerInicio">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
        <mat-label>Seleccionar una fecha de fin</mat-label>
          <input matInput [matDatepicker]="pickerFin">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>
        
      </div>
      <div class="card-body">
        <p>{{ units }} Unidades a Alquilar</p>
        <p>Precio: {{ unitPrice | currency }}</p>
        <div class="form-group">
          <label for="quantity">Cantidad:</label>
          <input type="number" id="quantity" [(ngModel)]="quantity" (input)="calculateTotal()">
        </div>
        <p class="total-price">Total: {{ totalPrice | currency }}</p>
        <button class="btn btn-primary" (click)="goToCheckout()">Alquilar!</button>
      </div>
    </div>
  </div>