
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$santex-academy-primary: mat.define-palette(mat.$indigo-palette);
$santex-academy-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$santex-academy-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$santex-academy-theme: mat.define-light-theme((
  color: (
    primary: $santex-academy-primary,
    accent: $santex-academy-accent,
    warn: $santex-academy-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($santex-academy-theme);

/* You can add global styles to this file, and also import other style files */
/* Scarlet red */
$scarletRed-100: #ff99ac;
$scarletRed-200: #f08091;
$scarletRed-300: #ff385c;
$scarletRed-400: #e31c5f;
$scarletRed-500: #e61e4d;
$scarletRed-600: #bd1e59;
$scarletRed-700: #e00b41;

/* Gray */
$gray-100: #ffffff;
$gray-200: #fff8f6;
$gray-300: #f7f7f7;
$gray-400: #f5f5f5;
$gray-500: #f3f3f3;
$gray-600: #ededed;
$gray-700: #ebebeb;
$gray-800: #eaeaea;
$gray-900: #e9e9e9;
$gray-1000: #e6e6e6;
$gray-1100: #e2e2e2;
$gray-1200: #e1e1e1;
$gray-1300: #dddddd;
$gray-1400: #d9d9d9;
$gray-1500: #d8d8d8;
$gray-1600: #d5d5d5;
$gray-1700: #d3d3d3;
$gray-1800: #d2d2d2;
$gray-1900: #cccccc;
$gray-2000: #c8c8c8;
$gray-2100: #c5c5c5;
$gray-2200: #c2c2c2;
$gray-2300: #c0c0c0;
$gray-2400: #bebebe;
$gray-2500: #b8b8b8;
$gray-2600: #b0b0b0;
$gray-2700: #a6a6a6;
$gray-2800: #999999;
$gray-2900: #878787;
$gray-3000: #808080;
$gray-3100: #7d7d7d;
$gray-3200: #717171;
$gray-3300: #4a4a4a;
$gray-3400: #404040;
$gray-3500: #333333;
$gray-3600: #222222;
$gray-3700: #000000;

/* Scarlet */
$scarlet-100: #d70466;
$scarlet-200: #92174d;
$scarlet-300: #861453;

/* Purple */
$purple-100: #440589;
$purple-200: #460479;

/* Magenta */
$magenta-100: #6c0d63;

/* Purple magenta */
$purpleMagenta-100: #59086e;

/* Blue */
$blue-100: #428bff;
$blue-200: #0073e5;

/* Purple violet */
$purpleViolet-100: #3b07bb;

/* Vermilion */
$vermilion-100: #c13515;
$vermilion-200: #b32505;

/* Green */
$green-100: #008a05;

/* Orange */
$orange-100: #e07912;

/* Teal */
$teal-100: #2b855d;

// reseting styles
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul, ol{
  list-style: none;
}
a{
  text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
